{{> header}}
{{{image}}}
   	
{{> startdiv}}
   	{{message_1}}
   	</div>

{{> startdiv}}
   	{{message_2}}
   	</div>

<div style="padding-left:115px;padding-right:50px;font-style:italic;margin-top: 16px; line-height: 24px;padding-bottom: 10px;font-size:16px; color:#666666; font-weight:300; font-family: Lato, Helvetica, sans-serif;">
<span style="font-size:54px;font-weight:700;color:#aaaaaa;float:left;margin-left:-23px;margin-top:8px;">&ldquo;</span>{{quote}}<span style="color:#aaaaaa;font-size:34px;line-height:0px;margin-top:10px;vertical-align: middle;">&rdquo;</span>
</div>

{{> startdiv}}
   	{{message_3}}
   	</div>

{{> startdiv}}
{{> startbutton}}
   	{{link_text}}
 </a></div>
   	 
{{> footer}}

