{{> header}}
   	
{{> startdiv}}
   	{{message_1}}
   	</div>

{{> startdiv}}
   	{{username}}
   	</div>

{{> startdiv}}
   	{{message_2}}
   	</div>

{{> startdiv}}
   	{{message_3}}
   	</div>

{{> startdiv}}
   	{{message_4}}
   	</div>

{{> startdiv}}
   	<b>{{message_5}}</b>
   	</div>

{{> startdiv}}
   	<ul>
   	<li>{{bullet_1}}</li>
   	<li>{{bullet_2}}</li>
   	<li>{{bullet_3}}</li>
   	<li>{{bullet_4}}</li>
   	</ul>
   	</div>


{{> startdiv}}
{{> startbutton}}
   	{{link_text}}
 </a></div>
   	 
{{> footer}}
  